doctype html
html
    head
        title Glow Subscriber Portal Styleguide
        script(src='//localhost:35729/livereload.js')
        link(rel='stylesheet' type='text/css' href='css/main.css')
    body
        <!-- patterns -->